* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcyan;
}

#sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    left: -30%;
    background-color: black;
}

#sidebar li {
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    border-bottom: 1px solid gray;
    text-align: center;
}

.toggle-btn {
    position: absolute;
    left: 110%;
    top: 1rem;
}

.toggle-btn span {
    display: block;
    background-color: black;
    width: 2rem;
    height: 0.5rem;
    margin: 3px;
}

#sidebar:hover {
    left: 0;
}


/* 
#sidebar:active {
    left: 0;
} */